<ion-header>
  <ion-toolbar>
    <ion-title>Modal</ion-title>
    <ion-button (click)="Cerrar()" size="small" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>
<ion-content>
<div class="texto1" >
  ECU 19 es una organización sin fines de lucro que recoge  y proporciona  información en tiempo real
  sobre la propagación de COVID-19 en su comunidad local y en todo el país.
  Somos un grupo de científicos, ingenieros y médicos y hemos creado una
  herramienta para proveer información sobre COVID -19. Esta app ha sido diseñada para ayudar a
  incrementar la concientización y producir una meseta en la curva de crecimiento y expansión de la
  infección por COVID 19, informando a los ecuatorianos y los sistemas de salud con temas relevantes. Por
  favor revisar las políticas de privacidad y términos de servicio.
  Por favor díganos cómo se siente.
  Sus respuestas se recopilan y se pondrán a disposición del público, incluso a través de nuestro sitio web
  para ayudar a los proveedores de atención médica, investigadores y otras personas a medir la
  propagación de COVID-19 e informar los esfuerzos que ayudan a mantenerse a usted, a su familia y a su
  comunidad saludables. Utilizaremos nuestros esfuerzos de buena fe para garantizar que sus respuestas
  se compartan de manera sintetizada, como en el mapa de calor que puede ver siguiendo el enlace en
  nuestro panel de navegación.
  El siguiente cuestionario está diseñado para ayudar a recopilar información sobre factores de riesgo
  para la infección por COVID-19. Las preguntas se basan en la mejor orientación disponible de las
  agencias de salud pública y otras partes interesadas y se actualizarán periódicamente.
  Esta encuesta no pretende facilitar ningún tipo de diagnóstico o autoevaluación para COVID-19. Si
  sospecha que puede tener COVID-19, busque atención médica.
  Revise nuestros Términos de servicio y nuestra Política de privacidad detenidamente y si no está de
  acuerdo con nuestros Términos de servicio o no se siente cómodo con nuestra recopilación, uso y
  divulgación de la información que proporciona, no complete esta Encuesta (aunque le agradeceríamos si
  puede enviarnos sus comentarios a flattenofficial@gmail.com sobre cómo podemos abordar sus
  inquietudes)

</div>
</ion-content>
