.texto1 {
    text-align: left;
    font: Regular 19px/25px Arial;
    font-family: Arial;
    font-size: 19px;
    letter-spacing: 0;
  
    opacity: 1;
    padding-left: 30px;
    padding-right: 30px;
  }